<div
  class="collapsible-tab"
>
  <data-island
    class="pt-2 max-w-2xl"
    x-data="{ open: {{ block.settings.open_by_default | default: false }} }"
  >
    <div class="pb-2" {% if block.settings.show_bottom_border %}style="border-bottom: {{ block.settings.border_width }}px solid rgb(var(--color-scheme-text));"{% endif %}>
      <h2
        {% unless block.settings.heading_text_style == 'heading' %}
          class="text-base"
        {% endunless %}
      >
        <button
          @click="open = !open"
          class="{{ block.settings.heading_text_style }} flex w-full cursor-pointer items-center justify-between text-left"
          type="button"
          :aria-expanded="open ? true : 'false'"
        >
          <div class="flex items-center justify-start">
            {% if block.settings.icon != 'none' -%}
              <div class="mr-2 flex h-6 w-6 shrink-0 items-center">
                {%- render 'product-icon', icon: block.settings.icon -%}
              </div>
            {%- endif %}
            <div
              class="flex items-center text-base"
            >
              {{ block.settings.heading }}
            </div>
          </div>
          <span class="font-heading text-base leading-none" x-text="open ? '−' : '+'"></span>
        </button>
      </h2>
      <div
        id="{{ block.id }}"
        x-show="open"
        {% unless block.settings.open_by_default %}style="display: none;"{% endunless %}
        x-collapse
      >
        <div class="rte pt-4 text-base">
          {{ block.settings.content }}
          {{ block.settings.page.content }}
        </div>
      </div>
    </div>
  </data-island>
  <noscript>
    <div class="rte">
      <h2 class="text-heading-standard"></h2>
      {{ block.settings.content }}
      {{ block.settings.page.content }}
    </div>
  </noscript>
</div>