<!doctype html>
<html class="no-js bg-scheme-background" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

    {%- if settings.favicon != blank -%}
      <link
        rel="icon"
        type="image/png"
        href="{{ settings.favicon | image_url: width: 32, height: 32 }}"
      >
    {%- endif -%}

    {%- unless settings.type_header_font.system?
      and settings.type_body_font.system?
    -%}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endunless -%}

    <title>
      {{ page_title }}
      {%- if current_tags %}
        &ndash; tagged "{{ current_tags | join: ', ' }}"
      {%- endif -%}
      {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
      {%- unless page_title contains shop.name %}
        &ndash; {{ shop.name -}}
      {%- endunless -%}
    </title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {% render 'importmap' %}

    {{ content_for_header }}

    {% render 'css-bridge' %}

    {{ 'base.bundle.css' | asset_url | stylesheet_tag: preload: true }}

    {%- liquid
      render 'meta-tags'
      render 'js-bridge'
    -%}

    <script src="{{ 'utils.js' | asset_url }}" defer></script>
    <script src="{{ 'images.js' | asset_url }}" defer></script>

    {% if request.design_mode %}
      <script
        src="{{ 'theme-editor-support.js' | asset_url }}"
        type="module"
      ></script>
    {% endif %}
  </head>
  {%- assign section_color = 'scheme1' -%}
  <body>
    <data-island
      x-data="
        {
          modalOpen: false,
          init() {
            $watch('modalOpen', (value) => {
              if (value === true) {
                setTimeout(() => { $focus.first() }, 120)
              }
            });
          }
        }
      "
    >
      <a class="skip-link" href="#MainContent">
        {{- 'general.accessibility.skip_to_content' | t -}}
      </a>
      <div
        class="password-login border-b-gridline border-gridline-color bg-scheme-background py-section-vertical-spacing text-center text-sm text-scheme-text"
        role="complementary"
        data-color-scheme="{{ section_color }}"
      >
        <button
          id="logInWithPasswordBtn"
          @click="modalOpen = true"
          class="theme-button w-fit after:content-none"
          type="button"
          aria-haspopup="dialog"
        >
          <span class="mr-1 inline-block h-3 w-3" aria-hidden="true">
            {%- render 'icon-lock' -%}
          </span>
          {{ 'general.password_page.password_link' | t }}
        </button>
      </div>
      <main id="MainContent">
        {{ content_for_layout }}
      </main>
      <div
        id="Login"
        x-show="modalOpen"
        @keydown.escape.prevent.stop="modalOpen = false"
        x-trap.inert.noscroll="modalOpen"
        class="fixed bottom-0 left-0 right-0 top-0 z-50 flex items-center justify-center bg-scheme-background text-center text-scheme-text"
        style="display: none;"
        data-color-scheme="scheme1"
      >
        <button
          @click="modalOpen = false"
          class="button__icon absolute right-2 top-2 ml-auto block w-8 p-1"
        >
          <span class="sr-only">
            {{- 'general.accessibility.close_modal' | t -}}
          </span>
          <span class="inline-block h-6 w-6">{% render 'icon-close' %}</span>
        </button>
        <div class="px-section-horizontal-spacing py-section-vertical-spacing lg:max-w-xl">
          <h4 class="font-heading text-2xl">
            {{ 'general.password_page.login_form_heading' | t }}
          </h4>
          <div class="mt-8  text-left lg:mx-auto">
            {% form 'storefront_password' %}
              {% if form.errors %}
                <script type="text/javascript">
                  window.addEventListener('load', function () {
                    document.getElementById('logInWithPasswordBtn').click();
                  });
                </script>
                <div
                  class="py-section-vertical-spacing text-scheme-accent"
                  data-color-scheme="scheme1"
                >
                  {{ form.errors | default_errors }}
                </div>
              {% endif %}
              <label class="mt-4 block" for="Password">
                {{- 'general.password_page.login_form_password_label' | t -}}
              </label>
              <input
                type="password"
                name="password"
                id="Password"
                autofocus
                class="w-full border-b-text border-current bg-transparent py-1"
              >
              <button
                type="submit"
                name="commit"
                class="theme-button mt-4 w-full"
              >
                {{ 'general.password_page.login_form_submit' | t -}}
              </button>
            {% endform %}
          </div>
          <p class="mt-8 text-sm">
            {{ 'general.password_page.admin_link_html' | t }}
          </p>
        </div>
      </div>
    </data-island>

    <div
      id="screenreader-announce"
      class="sr-only"
      aria-live="polite"
      role="status"
    ></div>

    <ul hidden>
      <li id="a11y-refresh-page-message">
        {{ 'general.accessibility.refresh_page' | t }}
      </li>
      <li id="a11y-selection-message">
        {{ 'general.accessibility.selection_help' | t }}
      </li>
    </ul>

    <script src="{{ 'global.bundle.js' | asset_url }}" type="module"></script>
  </body>
</html>
