<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>

    {%- if settings.favicon != blank -%}
      <link
        rel="icon"
        type="image/png"
        href="{{ settings.favicon | image_url: width: 32, height: 32 }}"
      >
    {%- endif -%}

    {%- unless settings.type_header_font.system?
      and settings.type_body_font.system?
    -%}
      <link rel="preconnect" href="https://fonts.shopifycdn.com" crossorigin>
    {%- endunless -%}

    <title>
      {{ page_title }}
      {%- if current_tags %}
        &ndash; tagged "{{ current_tags | join: ', ' }}"
      {%- endif -%}
      {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
      {%- unless page_title contains shop.name %}
        &ndash; {{ shop.name -}}
      {%- endunless -%}
    </title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {% render 'importmap' %}

    {{ content_for_header }}

    {% render 'css-bridge' %}

    {{ 'base.bundle.css' | asset_url | stylesheet_tag: preload: true }}

    {%- liquid
      render 'meta-tags'
      render 'js-bridge'
    -%}

    <script src="{{ 'utils.js' | asset_url }}" defer></script>
    <script src="{{ 'images.js' | asset_url }}" defer></script>
    <script>
      window.themeEventsDebugMode = false;
    </script>
    <script src="{{ 'theme-events.js' | asset_url }}" defer></script>

    {% if template contains 'customers' %}
      {% comment %}theme-check-disable ParserBlockingScript{% endcomment %}
      {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
      {{ 'customer_area.js' | shopify_asset_url | script_tag }}
      {% comment %}theme-check-enable ParserBlockingScript{% endcomment %}
    {% endif %}

    {% if request.design_mode %}
      <script
        src="{{ 'theme-editor-support.js' | asset_url }}"
        type="module"
      ></script>
    {% endif %}
  </head>

  <body class="{% render 'body-classes' %}">
    <a class="skip-link" href="#MainContent">
      {{- 'general.accessibility.skip_to_content' | t -}}
    </a>

    {% liquid
      sections 'header-group'
      section 'menu-drawer'
      render 'header-group-support'
    %}

    <main id="MainContent">
      {{ content_for_layout }}
    </main>

    {% liquid
      sections 'footer-group'
      sections 'overlay-group'
    %}

    <div
      id="screenreader-announce"
      class="sr-only"
      aria-live="polite"
      role="status"
    ></div>

    <ul hidden>
      <li id="a11y-refresh-page-message">
        {{ 'general.accessibility.refresh_page' | t }}
      </li>
      <li id="a11y-selection-message">
        {{ 'general.accessibility.selection_help' | t }}
      </li>
    </ul>

    {% comment %} Modal containers {% endcomment %}
    {% liquid
      render 'left-drawer'
      render 'right-drawer'
      render 'quick-buy-drawer'
      render 'promo'
      render 'popup'
      render 'modal'
    %}

    {% comment %} Modal contents {% endcomment %}
    {% if settings.cart_type == 'drawer' and template.name != 'cart' %}
      {% render 'drawer-cart' %}
    {% endif %}

    <script src="{{ 'global.bundle.js' | asset_url }}" type="module"></script>
  </body>
</html>
