{%- liquid
  assign section_color = section.settings.color_scheme
  assign collection = section.settings.collection
  assign product_limit = section.settings.product_limit
  assign show_view_all = section.settings.show_view_all
  assign enable_quick_buy = section.settings.enable_quick_buy
  assign view_all_text = 'collections.general.view_all' | t
  assign mobile_product_tile_width = section.settings.mobile_product_tile_width
  assign desktop_product_tile_width = section.settings.desktop_product_tile_width
  assign product_tile_type = section.settings.product_tile_type
  assign view_all_position = settings.view_all_position

  if section.settings.use_custom_image_crop
    assign force_crop = true
    assign placeholder_ratio = section.settings.image_crop | plus: 0
  else
    if product_tile_type == 'standard'
      unless settings.product_standard_tile_image_crop == 'natural'
        assign placeholder_ratio = settings.product_standard_tile_image_crop | plus: 0
      endunless

    else
      unless settings.product_overlay_tile_image_crop == 'natural'
        assign placeholder_ratio = settings.product_overlay_tile_image_crop | plus: 0
      endunless
    endif
  endif

  assign sizes = '(min-width: 1024px) ' | append: desktop_product_tile_width | append: 'vw'

  case mobile_product_tile_width
    when '60'
      assign sizes = sizes | append: ', 60vw'
      assign lazy_loading_limit = 2
    when '80'
      assign sizes = sizes | append: ', 80vw'
      assign lazy_loading_limit = 2
    when '100'
      assign sizes = sizes | append: ', 100vw'
      assign lazy_loading_limit = 1
  endcase

  capture view_all_button
    render 'view-all', title: section.settings.title, show_link: show_view_all, link_text: view_all_text, link_url: collection.url, section_color: section_color, no_border: true, no_padding: true, center_vertically: true
  endcapture

  assign has_view_all_button_top = false
  assign has_view_all_button_bottom = false

  if show_view_all and settings.section_title_align == 'center'
    if view_all_position == 'top'
      assign has_view_all_button_top = true
    else
      assign has_view_all_button_bottom = true
    endif
  endif
-%}

<section
  class="featured-collection border-b-gridline border-gridline-color"
  data-color-scheme="{{ section_color }}"
  style="--mobile-slide-width: {{ mobile_product_tile_width }}%; --desktop-slide-width: {{ desktop_product_tile_width }}%;"
>
  {% liquid
    if section.settings.title != ''
      render 'section-header', title: section.settings.title, show_link: show_view_all, link_text: view_all_text, link_url: collection.url, section_color: section_color, show_collection_count: section.settings.show_collection_count, products_count: collection.products_count, subheading: section.settings.subheading, has_view_all_button_top: has_view_all_button_top
    endif
  %}
  <div class="bg-scheme-background pb-slide-controls">
    <data-island
      x-data="
        Slideshow({
          autoplay: false,
          autoplayInterval: false,
          gap: 'var(--gridline-width)',
          mode: 'carousel',
          onlyIfNeeded: true,
        })
      "
      class="splide"
    >
      <div class="splide__track bg-gridline-color no-js:[.splide:not(.is-active)_&]:visible [.splide:not(.is-active,_.is-initialized)_&]:invisible">
        <ul class="splide__list no-js:gap-gridline no-js:overflow-x-auto [.splide:not(.is-active)_&]:!flex [.splide:not(.is-active)_&]:gap-gridline">
          {%- for product in collection.products limit: product_limit -%}
            {%- liquid
              assign loading = 'lazy'

              if section.index <= 3 and forloop.index <= lazy_loading_limit
                assign loading = 'eager'
              endif

              if section.index == 1 and forloop.first
                assign preload = true
              else
                assign preload = false
              endif
            -%}
            <li
              class="splide__slide w-[var(--mobile-slide-width)] border-b-gridline border-gridline-color bg-scheme-background text-scheme-text no-js:!block lg:w-[var(--desktop-slide-width)]"
            >
              {% if product_tile_type == 'text_overlay' %}
                {%- render 'product-tile-text-overlay',
                  product: product,
                  sizes: sizes,
                  preload: preload,
                  loading: loading,
                  section_color: section_color,
                  force_crop: force_crop,
                  force_crop_ratio: section.settings.image_crop,
                  force_crop_style: section.settings.image_crop_style,
                  product_tile_type: product_tile_type
                -%}
              {% else %}
                {%- render 'product-tile-standard',
                  product: product,
                  sizes: sizes,
                  preload: preload,
                  loading: loading,
                  section_color: section_color,
                  force_crop: force_crop,
                  force_crop_ratio: section.settings.image_crop,
                  force_crop_style: section.settings.image_crop_style,
                  enable_quick_buy: enable_quick_buy,
                  product_tile_type: product_tile_type
                -%}
              {% endif %}
            </li>
          {%- else -%}
            {% for i in (1..product_limit) %}
              <li
                class="splide__slide w-[var(--mobile-slide-width)] border-b-gridline border-gridline-color bg-scheme-background lg:w-[var(--desktop-slide-width)]"
              >
                {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                {%- render 'product-tile-placeholder',
                  product_tile_type: product_tile_type,
                  current: current,
                  ratio: placeholder_ratio
                -%}
              </li>
            {%- endfor -%}
          {%- endfor -%}
          {% if collection and collection.products %}
            <li
              style="--mobile-placeholder-width: calc(100% - (({{ collection.products_count }} * {{ mobile_product_tile_width }}%) - ({{ collection.products_count | minus: 1 }} * var(--gridline-width)))); --desktop-placeholder-width: calc(100% - (({{ collection.products_count }} * {{ desktop_product_tile_width }}%) - ({{ collection.products_count | minus: 1 }} * var(--gridline-width))));"
              class="w-[--mobile-placeholder-width] border-b-gridline border-gridline-color bg-scheme-background lg:w-[--desktop-placeholder-width]"
              aria-hidden="true"
              role="presentation"
            ></li>
          {% endif %}
        </ul>
      </div>
      <data-island
        class="mx-1 mt-2 grid grid-cols-[minmax(0,_1fr)_auto] gap-x-2 gap-y-0 text-scheme-text no-js:hidden lg:mx-4"
        x-data="SlideshowPagination"
        x-init="checkIfWrapped"
        @resize.window.debounce.250="checkIfWrapped"
      >
        <ul x-ref="pagination" class="splide__pagination">
          {%- liquid
            if collection and collection.products
              assign pagination_placeholder_size = collection.products.size | at_most: product_limit
            else
              assign pagination_placeholder_size = product_limit
            endif
          -%}
          {% for i in (1..pagination_placeholder_size) %}
            <li
              data-splide-pagination-placeholder
              aria-hidden="true"
            >
              <div class="splide__pagination__page"></div>
            </li>
          {% endfor %}
        </ul>
        {% if has_view_all_button_bottom %}
          <div class="col-span-2 row-start-2 -mx-1 mt-theme empty:hidden lg:-mx-4">
            {{ view_all_button }}
          </div>
        {% endif %}
        <div
          class="splide__arrows col-end-last flex items-center justify-end gap-1 text-scheme-text [.splide:not(.is-active)_&]:pointer-events-none [.splide:not(.is-active)_&]:invisible"
          :class="{ 'items-start pt-[--arrows-wrapped-top-offset]' : paginationIsWrapped, 'items-center' : !paginationIsWrapped }"
        >
          <button class="splide__arrow splide__arrow--prev w-8">
            <span class="sr-only">
              {{- 'sections.slideshow.previous_slide' | t -}}
            </span>
            <span class="block">
              {% render 'icon-arrow-left' %}
            </span>
          </button>
          <button class="splide__arrow splide__arrow--next w-8">
            <span class="sr-only">
              {{- 'sections.slideshow.next_slide' | t -}}
            </span>
            <span class="block">
              {% render 'icon-arrow-right' %}
            </span>
          </button>
        </div>
      </data-island>
    </data-island>
  </div>
</section>

{% schema %}
{
  "name": "Collection carousel",
  "disabled_on": {
    "groups": [
      "header",
      "footer",
      "aside"
    ]
  },
  "settings": [
    {
      "id": "collection",
      "type": "collection",
      "label": "Collection"
    },
    {
      "id": "product_tile_type",
      "type": "select",
      "label": "Product tile type",
      "options": [
        {
          "value": "standard",
          "label": "Standard"
        },
        {
          "value": "text_overlay",
          "label": "Text overlay"
        }
      ],
      "default": "standard"
    },
    {
      "type": "range",
      "id": "product_limit",
      "label": "Product limit",
      "min": 5,
      "max": 20,
      "step": 1,
      "default": 5
    },
    {
      "type": "header",
      "content": "Product tiles"
    },
    {
      "type": "checkbox",
      "id": "use_custom_image_crop",
      "label": "Use custom image crop",
      "default": false
    },
    {
      "visible_if": "{{ section.settings.use_custom_image_crop }}",
      "type": "select",
      "id": "image_crop",
      "label": "Image crop",
      "default": "natural",
      "options": [
        {
          "value": "natural",
          "label": "Natural"
        },
        {
          "value": "1",
          "label": "Square"
        },
        {
          "value": "1.3",
          "label": "Landscape"
        },
        {
          "value": "0.8",
          "label": "Portrait"
        }
      ]
    },
    {
      "visible_if": "{{ section.settings.use_custom_image_crop and section.settings.image_crop != 'natural' }}",
      "type": "select",
      "id": "image_crop_style",
      "label": "Image crop style",
      "default": "cover",
      "options": [
        {
          "value": "cover",
          "label": "Fill"
        },
        {
          "value": "contain",
          "label": "Fit"
        }
      ]
    },
    {
      "type": "select",
      "id": "mobile_product_tile_width",
      "label": "Mobile width",
      "options": [
        {
          "value": "60",
          "label": "60%"
        },
        {
          "value": "80",
          "label": "80%"
        },
        {
          "value": "100",
          "label": "100%"
        }
      ],
      "default": "80"
    },
    {
      "type": "range",
      "id": "desktop_product_tile_width",
      "label": "Desktop width",
      "min": 20,
      "max": 40,
      "step": 2,
      "default": 22,
      "unit": "%"
    },
    {
      "type": "header",
      "content": "Quick buy"
    },
    {
      "type": "paragraph",
      "content": "Only supported when product tile type is set to \"Standard\"."
    },
    {
      "visible_if": "{{ section.settings.product_tile_type == 'standard' }}",
      "type": "checkbox",
      "id": "enable_quick_buy",
      "label": "Enable quick buy"
    },
    {
      "type": "header",
      "content": "Header"
    },
    {
      "visible_if": "{{ section.settings.title != blank }}",
      "type": "text",
      "id": "subheading",
      "label": "Subheading"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Featured collection"
    },
    {
      "type": "checkbox",
      "id": "show_view_all",
      "label": "Show “View all” link",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_collection_count",
      "label": "Show collection products count as superscript"
    },
    {
      "type": "header",
      "content": "Color"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "default": "scheme1",
      "label": "Color scheme"
    }
  ],
  "presets": [
    {
      "name": "Collection carousel",
      "category": "Collections"
    }
  ]
}
{% endschema %}
